.about_section {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    margin: 0 auto;
}
  
.features {
    width: 75%;
    padding-right: 40px;
}
  
.link_to_code {
    width: 25%;
}
  
.heading_01 {
    color: #626472;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 20px 40px;
}
  
.heading_02 {
    font-size: 24px;
    padding: 10px 0;
    color: #838B6A;
    margin: 0 auto;
    text-align: left;
}
  
.heading_03 {
    color: #36261E;
    font-size: 22px;
    padding: 10px 0;
    margin: 0 auto;
}
  
.external_link_icon {
    width: 20px;
      margin-left: 8px;
}
  
@media screen and (max-width: 751px) {
  
    .container {
        padding: 20px 10px;
    }
  
    .about_section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px 40px 20px;
    }
    
    .features {
        width: 100%;
        padding: 0;
    }
    
    .link_to_code {
        width: 100%;
        text-align: center;
    }
  
    .heading_01 {
        font-size: 24px;
        padding: 10px;
    }
  
    .heading_02 {
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
  
    .heading_03 {
        color: #36261E;
        font-size: 18px;
        padding: 10px;
    }
  
    .external_link_icon {
        width: 15px;
        margin-left: 6px;
    }
  
}